/* Dropdown list */

.dropdown-list button {
    background-color: transparent;
    border: 0;
    cursor: pointer;
    padding: 0;
    font-size: 1rem;
    display: flex;
    align-items: center;
    line-height: 1;
}

.dropdown-list,
.dropdown-list p,
.dropdown-list li,
.dropdown-list ul { 
    list-style-type: none; /* Remove marker */
    padding: 0;
    margin: 0;
    line-height: 1;
}

.dropdown-list li {
    /* padding: 10px 0 0 0; */
}

/*  */

/* Dropdown menu */

.dropdown-menu button img {
    margin-left: 10px;
    transition: all 0.2s;
}

.dropdown-menu ul li {
    padding-left: 10px;
}

.dropdown-menu a {
    text-decoration: none;
    color: inherit;
}

/*  */

/* Element */

.element {
    display: flex;
    flex-direction: row;
}

.element-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 10px;
}

.element p {
    display: flex;
    align-items: center;
}

/* li.dot::before {
    content: ".";
    font-size: 30px;
    line-height: 0;
    margin-right: 10px;
 } */

/*  */


/* dropdown menu 2 */

@media screen and (min-width: 800px) {


    .dropdown-list {
        display: flex;
    }

    .dropdown-list li {
        margin: 0 20px 0 20px;
    }

    .dropdown-menu ul, .dropdown-menu ul li {
        padding: 0;
        margin: 1rem 0 1rem 0;
    }

    .dropdown-menu {
        display: flex;
        justify-content: center;
    }

    .dropdown-menu ul {
        display: block !important;
        transform: translateY(-150%);
        position: absolute;
        margin: 0;
        opacity: 0;
        z-index: 1;
        top: 100%;
        padding: 0 1rem 0 1rem;
        border-radius: 10px;
        background-color: white;
        box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.15);
        transition: all 0.2s ease-out;
        transition-delay: 0.2s;
    }

    .dropdown-menu:hover ul {
        opacity: 1;
        transition-delay: 0s;
        transform: translateY(0);
    }

    .dropdown-menu button {
        padding: 0.5rem;
        color: black;
    }

}

